<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/defaultLayout :: default_layout(~{::title},~{::link},~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/find.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/notice/edit.css}">

</head>
<body>
<section>
    <form th:action="${mode} == 'write' ? '/notice/add' : '/notice/edit'" th:method="post">
        <div class="editForm_div">
        <input type="hidden" name="id" th:value="${notice.id}">
            <div class="edit_title_div">
                <label class="edit_label" for="edit_title">제목</label>
                <input type="text" id="edit_title" name="title" th:value="${notice.title}">
            </div>
            <div class="edit_content_div">
                <label for="edit_content" class="edit_label">내용</label>
                <textarea id="edit_content" name="content" th:text="${notice.content}"></textarea>
            </div>
            <div class="edit_active_div" th:if="${mode} != 'write'">
                <label class="edit_label">상태</label>
                <div class="edit_active_radio">
                    <label><input type="radio" name="active" value="true" th:checked="${notice.active} == true" >true</label>
                    <label><input type="radio" name="active" value="false" th:checked="${notice.active} == false" >false</label>
                </div>
            </div>
            <div class="edit_submit">
                <button type="submit" th:text="${mode} == 'write' ? '추가' : '수정'">??</button>
            </div>
        </div>
    </form>
</section>
</body>
</html>