<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/defaultLayout :: default_layout(~{::title},~{::link},~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>공지사항</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/find.css}">

</head>
<body>
<section>
  <div class="section-main">
    <form id="find_notice_form" method="get">
      <div class="find_searchBar">
        <select name="searchCondition" class="find_combo" >
          <option value="title">제목</option>
        </select>
        <input type="text" placeholder="검색하기" class="find_bar" name="searchKeyword">
      </div>
    </form>
    <table class="find_list">
      <thead>
      <tr>
        <th>ID</th>
        <th>제목</th>
        <th>작성일자</th>
        <th>상태</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="notice : ${notice}">
        <td th:text="${notice.id}">ID</td>
<!--        <td><a th:text="${notice.title}" th:href="@{/noticePage(id=${notice.id})}">제목</a></td>-->
        <td><a th:text="${notice.title}" th:href="@{/notice/info/{id} (id = ${notice.id})}">제목</a></td>
        <td th:text="${notice.date}">작성일자</td>
        <td th:text="${notice.active}">상태</td>
      </tr>
      </tbody>
    </table>
    <div th:replace="~{fragments/paging :: paging}"></div>
<!--    <div th:replace="~{fragments/paging :: paging_info}"></div>-->
  </div>
</section>
</body>
</html>