<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/aside.css}" href="../../static/css/aside.css">
    <script src="https://kit.fontawesome.com/c43a3bd0d6.js" crossorigin="anonymous"></script>
</head>
<body>
    <aside class="aside" th:fragment="common_aside">
        <div class="threego_logo">
            <a href="/" th:text="#{title}">ThreeGo</a>
            <span>For Administrator</span>
        </div>
        <div class="clock">
            <ul>
                <li><span id="today_year">2022년</span></li>
                <li><span id="today_date">04월 09일 토요일</span></li>
                <li><span id="today_time">오전 04시 09분</span></li>
            </ul>
        </div>
        <hr class="hr-line"/>
        <nav class="main_nav">
            <ul>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="#" th:text="#{menu.dashboard}">대시보드</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="#" th:text="#{menu.place}">장소관리</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="/tour" th:text="#{menu.tour}">관광관리</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="/review" th:text="#{menu.review}">리뷰관리</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="/notice" th:text="#{menu.notice}">공지사항</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="/ask" th:text="#{menu.ask}">문의사항</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="#" th:text="#{menu.user}">회원관리</a></span></li>
            </ul>
            <hr class="hr-line" />
            <ul>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="#" th:text="#{menu.staff}">직원관리</a></span></li>
                <li><i class="fa-solid fa-caret-right"></i><span><a href="#" th:text="#{menu.auth}">권한관리</a></span></li>
            </ul>
        </nav>
    </aside>
</body>
</html>