<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
</head>
<body>
    <header class="header" th:fragment="common_header">
        <div class="header-nav">
            <ul>
                <li id="selectTitle"><span>대시보드</span></li>
                <li class="delimiter"></li>
                <li><span><a href="#">추가하기</a></span></li>
                <li><span><a href="#">수정하기</a></span></li>
                <li><span><a href="#">삭제하기</a></span></li>
                <li><span><a href="#">카테고리</a></span></li>
                <li><span><a href="#">신고사항</a></span></li>
            </ul>
        </div>
        <div class="header-account">
            <ul>
                <li><span>관리자</span></li>
                <li><span>김영준</span></li>
            </ul>
        </div>
    </header>
</body>
</html>