<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sign in to Threego for Administrator</title>
    <link rel="stylesheet" type="text/css" href="css/loginForm.css">
</head>
<body>
    <div class="admin_wrap">
        <div class="loginForm_wrap">
            <div class="loginForm_header">
                <div class="threego_logo">
                    <h1>Threego</h1>
                </div>
            </div>
            <div class="loginForm_content">
                <div class="threego_forAdmin">
                    <h3>Sign in to Threego for Administrator</h3>
                </div>
                <div class="loginForm_error" id="signIn_error">
                    <span>Incorrect username or password</span>
                </div>
                <div class="loginForm">
                        <div class="lgf-username">
                            <label class="lgf_label" for="username">Username</label>
                            <input type="text" class="lgf_input" id="username">
                        </div>
                        <div class="lgf-password">
                            <label class="lgf_label" for="password">Password</label>
                            <input type="password" class="lgf_input" id="password">
                        </div>
                        <div class="lgf-submit">
                            <button type="button" id="sign_in" class="lgf_btn">Sign in</button>
                        </div>
                </div>
            </div>
            <div class="loginForm_footer"></div>
        </div>
    </div>
</body>
<script rel="script" src="js/loginForm.js"></script>
</html>