<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/defaultLayout :: default_layout(~{::title},~{::link},~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/find.css}">

</head>
<body>
<section>
    <div class="section-main">
        <form id="find_notice_form" method="get">
            <div class="find_searchBar">
                <select name="searchCondition" class="find_combo" >
                    <option value="title">제목</option>
                    <option value="user_id">회원 ID</option>
                </select>
                <input type="text" placeholder="검색하기" class="find_bar" name="searchKeyword">
            </div>
        </form>
        <table class="find_list">
            <thead>
            <tr>
                <th>ID</th>
                <th>회원 ID</th>
                <th>제목</th>
                <th>작성일</th>
                <th>답변여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ask : ${ask}">
                <td th:text="${ask.id}">ID</td>
                <td th:text="${ask.user_id}"></td>
                <!--        <td><a th:text="${notice.title}" th:href="@{/noticePage(id=${notice.id})}">제목</a></td>-->
                <td><a th:text="${ask.title}" th:href="@{/ask/info/{id} (id = ${ask.id})}">제목</a></td>
                <td th:text="${ask.date}">작성일자</td>
                <td th:text="${ask.answer} == null ? '미답변' : '답변완료'">답변여부</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragments/paging :: paging}"></div>
        <!--    <div th:replace="~{fragments/paging :: paging_info}"></div>-->
    </div>
</section>
</body>
</html>